@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DEFAULT ELEMENTS */
body {
  height: 150vh;
  max-width: 1080px;
  margin: 100px auto 0;
  background-image: linear-gradient(
    to bottom right,
    #f4f9f9,
    #ccf2f4,
    #a4ebf3,
    #fff
  );
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Press Start 2P", sans-serif; */
  font-family: "Original Surfer", cursive;
}

/* PAGE WRAPPER */
#wrapper {
  max-width: 1080px;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  position: relative;
}

/* GAME DIRECTIONS */
#directions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* BUTTONS */
.btn {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.btn-game-selection {
  /* background-image: linear-gradient(to right, #e04b5a, #e49756); */
  background-image: linear-gradient(to right, #ff9292, #ffb4b4);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* color: #444; */
  color: #000;
  box-shadow: 4px 6px 8px #000;
}

.btn-game-selection:hover {
  /* transform: rotate(360deg) scale(1.2); */
  transition: transform 1s ease;
}

.btn-game-rules {
  /* box-shadow: 4px 6px 8px #444; */
  /* background-image: linear-gradient(to right, #e04b5a, #e49756); */
  background-image: linear-gradient(to right, #ff9292, #ffb4b4);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 4px 6px 8px #000;
  color: #000;
}

.btn-game-rules:hover {
  transform: scale(1.5);
  transition: transform 1s ease;
}

/* RULES */
.hide {
  display: none;
}

.rules {
  max-width: 50%;
  /* max-height: 30%; */
  background-color: #fff;
  padding: 50px;
  border-radius: 20px;
  z-index: 10;
  position: absolute;
  top: 10rem;
  left: 30rem;
}

.rules > h2 {
  text-align: center;
}

.rules > p {
  margin-top: 20px;
}

/* OVERLAY */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  font-size: 40px;
  color: red;
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

/* LEFT-SIDE PLAYER 1 & RIGHT-SIDE PLAYER 2*/
#left-side {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#right-side {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#left-side,
#right-side {
  text-align: center;
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  width: 50%;
  padding: 50px 100px 50px;
}

#left-side > .player-1-layout > .player-1 > .dot-1,
#right-side > .player-2-layout > .player-2 > .dot-2 {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

#left-side .player-1,
#right-side .player-2 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

#left-side > .player-1-layout > .player-1,
#right-side > .player-2-layout > .player-2 {
  padding-left: 100px;
}

#left-side > .player-1-layout > .player-1 > h2,
#right-side > .player-2-layout > .player-2 > h2 {
  font-size: 2.5rem;
  padding-right: 50px;
}

#left-side > .player-1-layout,
#right-side > .player-2-layout {
  display: flex;
  flex-direction: column;
}

#left-side > .player-1-layout > .rolling-score-1,
#right-side > .player-2-layout > .rolling-score-2 {
  color: red;
  font-size: 4em;
  font-weight: 100;
  padding-top: 50px;
  padding-bottom: 50px;
}

#left-side > .player-1-layout > .current-score-1,
#right-side > .player-2-layout > .current-score-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #555;
  width: 150px;
  height: 100px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

#left-side > .player-1-layout > .current-score-1 > h4,
#right-side > .player-2-layout > .current-score-2 > h4 {
  padding-bottom: 20px;
  font-size: 1.1rem;
}

#left-side > .player-1-layout > .current-score-1 > .player-1-current-score,
#right-side > .player-2-layout > .current-score-2 > .player-2-current-score {
  font-size: 1.5rem;
  font-weight: 400;
}

/* FUNCTIONALITY BUTTONS */
#wrapper > .functionality-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30px;
  left: 45.5%;
}

#wrapper > .functionality-buttons > .functionality {
  /* background-image: linear-gradient(to right, #e04b5a, #e49756); */
  background-image: linear-gradient(to right, #ff9292, #ffb4b4);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 4px 6px 8px #000;
  color: #000;
}

#wrapper > .functionality-buttons > .functionality:active {
  transform: translate(-3px, 3px);
}

#wrapper > .functionality-buttons > .btn-new-game {
  margin-bottom: 220px;
}

#wrapper > .functionality-buttons > .btn-roll-dice {
  margin-bottom: 20px;
}

/* WINNING SCORE INPUT BOX */
#wrapper > #winning-score {
  position: absolute;
  /* display: flex; */
  /* flex-direction: column; */
  bottom: 20px;
  left: 42.5%;
}

#wrapper > #winning-score > .add-winning-number {
  border: none;
  outline: none;
  background: none;
  color: #555;
  position: absolute;
  /* display: flex; */
  /* flex-direction: column; */
  bottom: -5px;
  left: 99%;
  font-size: 30.5px;
}

#wrapper > #winning-score > .add-winning-number:hover {
  cursor: pointer;
}

#wrapper > #winning-score > .winning-score-box {
  padding: 5px;
  background-color: #f4f4f4;
  border: 1px solid #555;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* border-radius: 5px; */
  outline: none;
}

#wrapper > #winning-score > .winning-score-box:focus {
  background-image: linear-gradient(to bottom right, #ccc, #fff);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #333;
  text-align: center;
}

/* DICE */
#wrapper > #dice > .current-dice {
  display: inline-block;
  box-shadow: 4px 6px 8px #333;
  width: 75px;
  height: 75px;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 125px;
  left: 46.5%;
}

/* ACTIVE PLAYER CLASS */
.active-player {
  background-color: #ccc;
}

/* WINNER CLASS  */
.winner {
  /* color: #e49756;
  font-size: 2rem;
  font-weight: 200;
  position: absolute;
  transform: rotate(-45deg); */
  background-color: #444;
}

/* FINAL SCORE */
.final-score {
  color: red;
}

/* WHO IS PLAYING OVERLAY */
.player-selection {
  max-width: 30%;
  /* max-height: 30%; */
  background-color: #fff;
  padding: 50px;
  border-radius: 20px;
  z-index: 10;
  position: absolute;
  top: 10rem;
  left: 45rem;
}

.player-selection > h2 {
  text-align: center;
}

.overlay {
  height: 150vh;
}

.overlay > .player-selection {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
}

.overlay > .player-selection > label {
  margin-top: 20px;
  margin-bottom: 5px;
  color: #333;
  font-size: 1.3rem;
}

.overlay > .player-selection > .btn-play {
  margin-top: 20px;
  padding: 7px 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-image: linear-gradient(to right, #ff9292, #ffb4b4);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 4px 6px 8px #000;
  color: #000;
  text-align: center;
  font-family: "Original Surfer", cursive;
}

.overlay > .player-selection > input {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.overlay > .player-selection > input:focus {
  background-color: #ccc;
  color: #333;
  outline: #e49756;
}

.overlay > .player-selection > .btn-play:hover {
  cursor: pointer;
  color: #fff;
  opacity: 0.9;
}

/* HIGH SCORE */
.high-score {
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}
