/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DEFAULT ELEMENTS */
body {
  height: 100vh;
  max-width: 1080px;
  margin: 200px auto 0;
  background-image: linear-gradient(to bottom right, #000, #444, #ccc, #fff);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
}

/* PAGE WRAPPER */
#wrapper {
  max-width: 1080px;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  position: relative;
}

/* GAME DIRECTIONS */
#directions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* BUTTONS */
.btn {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.btn-game-selection {
  background-image: linear-gradient(to right, #e04b5a, #e49756);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* box-shadow: 4px 6px 8px #333; */
  color: #444;
  box-shadow: 4px 6px 8px #ccc;
}

.btn-game-selection:hover {
  /* transform: rotate(360deg) scale(1.2); /// DONT FORGET TO REMOVE THIS BEFORE SUBMISSION*/
  transition: transform 1s ease;
}

.btn-game-rules {
  /* box-shadow: 4px 6px 8px #444; */
  background-image: linear-gradient(to right, #e04b5a, #e49756);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 4px 6px 8px #333;
  color: #444;
}

.btn-game-rules:hover {
  transform: rotate(360deg) scale(1.2);
  transition: transform 1s ease;
}

/* RULES */
.hide {
  display: none;
}

.rules {
  max-width: 30%;
  max-height: 30%;
  background-color: #fff;
  padding: 50px;
  border-radius: 20px;
  z-index: 10;
  position: absolute;
  top: 20rem;
  left: 40rem;
}

.rules > h2 {
  text-align: center;
}

.rules > p {
  margin-top: 20px;
}

/* OVERLAY */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  font-size: 40px;
  color: red;
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

/* LEFT-SIDE PLAYER 1 & RIGHT-SIDE PLAYER 2*/
#left-side {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f4f4f4;
}

#right-side {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#left-side,
#right-side {
  text-align: center;
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  width: 50%;
  padding: 50px 100px 50px;
}

#left-side > .player-1-layout > .player-1 > .dot,
#right-side > .player-2-layout > .player-2 > .dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

#left-side .player-1,
#right-side .player-2 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

#left-side > .player-1-layout > .player-1,
#right-side > .player-2-layout > .player-2 {
  padding-left: 100px;
}

#left-side > .player-1-layout > .player-1 > h2,
#right-side > .player-2-layout > .player-2 > h2 {
  font-size: 2.5rem;
  padding-right: 50px;
}

#left-side > .player-1-layout,
#right-side > .player-2-layout {
  display: flex;
  flex-direction: column;
}

#left-side > .player-1-layout > .rolling-score-1,
#right-side > .player-2-layout > .rolling-score-2 {
  color: red;
  font-size: 4em;
  font-weight: 100;
  padding-top: 50px;
  padding-bottom: 50px;
}

#left-side > .player-1-layout > .current-score-1,
#right-side > .player-2-layout > .current-score-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #555;
  width: 150px;
  height: 100px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

#left-side > .player-1-layout > .current-score-1 > h4,
#right-side > .player-2-layout > .current-score-2 > h4 {
  padding-bottom: 20px;
  font-size: 1.1rem;
}

#left-side > .player-1-layout > .current-score-1 > .player-1-score,
#right-side > .player-2-layout > .current-score-2 > .player-2-score {
  font-size: 1.5rem;
  font-weight: 400;
}

/* FUNCTIONALITY BUTTONS */
#wrapper > .functionality-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30px;
  left: 45.5%;
}

#wrapper > .functionality-buttons > .functionality {
  background-image: linear-gradient(to right, #e04b5a, #e49756);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 4px 6px 8px #333;
  color: #444;
}

#wrapper > .functionality-buttons > .functionality:active {
  transform: translate(-3px, 3px);
}

#wrapper > .functionality-buttons > .btn-1 {
  margin-bottom: 220px;
}

#wrapper > .functionality-buttons > .btn-2 {
  margin-bottom: 20px;
}

/* WINNING SCORE INPUT BOX */
#wrapper > #winning-score {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 40px;
  left: 42.5%;
}

#wrapper > #winning-score > .winning-score-box {
  padding: 5px;
  background-color: #f4f4f4;
  border: 1px solid #555;
  border-radius: 5px;
  outline: none;
}

#wrapper > #winning-score > .winning-score-box:focus {
  background-image: linear-gradient(to bottom right, #ccc, #fff);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #333;
  text-align: center;
}
